<div class="app-container">
  <h1>TripSorter</h1>
  <div *ngIf="searchResults.length == 0">
    <select placeholder="From:" class="city-select" [(ngModel)]="fromSelectedValue" >
      <option value="" disabled selected>From:</option>
      <option *ngFor="let item of from" [ngValue]="item">{{item}}</option>
    </select>
    <br><br>
    <select class="city-select" [(ngModel)]="toSelectedValue">
        <option value="" disabled selected>To:</option>
        <option *ngFor="let item of to" [ngValue]="item">{{item}}</option>
    </select>
    <br><br>
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary" (click)="searchCheapestClick()" [class.active]="searchCheapestSelected">Cheapest</button>
        <button type="button" class="btn btn-primary" (click)="searchFastestClick()" [class.active]="searchFastestSelected">Fastest</button>
    </div>
    <div class="margin-top-10 margin-bottom-10">
      <button type="button" class="btn btn-primary search-button" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </div>

    <div *ngIf="errorResult">{{errorResult}}</div>
  </div>
  <div class="margin-left-10" *ngIf="searchResults.length != 0">
      <div class="row trip-item margin-bottom-10 padding-top-5 padding-bottom-5" *ngFor="let route of searchResults">
        <div class="col-xs-9">
            <div>{{route.departure}} <b class="city-separator">></b> {{route.arrival}}</div>
            <div><i>{{route.transport}} {{route.reference}} for {{route.duration.h}}h{{route.duration.m}}</i></div>
        </div>
        <div class="col-xs-3 text-align-right">
            <b>{{route.price}}&#8364;</b>
        </div>
      </div>

      <div class="row trip-summary padding-top-15 padding-bottom-15">
          <div class="col-xs-5">
              <b>Total</b>
          </div>
          <div class="col-xs-4">
              {{tripDuration | minutesAndHoursFromMinutes}}
          </div>
          <div class="col-xs-3 text-align-right">
              <b>{{tripPrice}}&#8364;</b>
          </div>
      </div>
      
      <div class="row margin-top-10">
        <div class="col-xs-12 reset-button-container">
          <button type="button" class="btn btn-primary reset-button" (click)="clearSearchButtonClick()"><i class="fa fa-repeat" aria-hidden="true"></i> Reset</button>
        </div>
      </div>
  </div>
</div>
<div *ngIf="showLoader" class="loader"></div>