.app-container{
    padding: 20px;
    width: 280px;
}

.loader {
    margin: 0;
}

.city-select{
    width: 150px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-left-10{
    margin-left: 10px;
}

.padding-top-15{
    padding-top: 15px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}

.padding-top-5{
    padding-top: 5px;
}
.padding-bottom-5{
    padding-bottom: 5px;
}

.search-button, .reset-button{
    background-color: #00A000;
    border-color: #000000;
}

.reset-button{
    width: 100%;
}

.trip-item{
    background-color: #F2F3F4;
}

.trip-summary{
    background-color: #E5E7E9;
}

.city-separator{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 3px;
}

.text-align-right{
    text-align: right;
}

.reset-button-container{
    padding-left: 0px;
    padding-right: 0px;
}